<a href="https://colab.research.google.com/github/vg2425/W4111-Intro-to-DB-S22/blob/main/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* define index $bn
* create a pandas table for each case (3)
* create function to run each case
* create function to run x value based on c and d values
* create function to run final outcome

In [2]:
import pandas as pd
import numpy as np

In [3]:
index_dollars_1 = ["$30.0bn", "$32.5bn", "$35.0bn", "$37.5bn", "$40.0bn", "$42.5bn"]
index_dollars_2 = ["$32.5bn", "$35.0bn", "$37.5bn", "$40.0bn", "$42.5bn"]
quartile_index = ["Low", "Delta", "High", "Average", "Median"]
case_base = pd.DataFrame(index = index_dollars_1, columns = quartile_index)
case_base

         Low Delta High Average Median
$30.0bn  NaN   NaN  NaN     NaN    NaN
$32.5bn  NaN   NaN  NaN     NaN    NaN
$35.0bn  NaN   NaN  NaN     NaN    NaN
$37.5bn  NaN   NaN  NaN     NaN    NaN
$40.0bn  NaN   NaN  NaN     NaN    NaN
$42.5bn  NaN   NaN  NaN     NaN    NaN

In [4]:
def row_analysis(crane_value, case_toggle, iterations):
  rng = np.random.default_rng(10)
  iterations = 10
  #d ranges
  d_low = 255
  d_high = 275
  #generate c values
  c_values = np.array([425]*iterations)
  #generate d values
  d_values = rng.integers(d_low, d_high, iterations, endpoint = True)
  #generate x values based on c and d
  x_low = d_values
  x_high = c_values
  if case_toggle == 1:
    x_low = np.array([275]*iterations)
    x_high = np.array([325]*iterations)
  elif case_toggle == 2:
    x_low = np.array([325]*iterations)
    x_high = np.array([375]*iterations)

  x_values = rng.integers(x_low, x_high)

  #divide values by 10 to get 10 billion units
  c_values = c_values/10
  d_values = d_values/10
  x_values = x_values/10

  #dataframe that combines all bids
  bids = pd.DataFrame([d_values, c_values, x_values], index = ["d", "c", "x"])
  bids = bids.T

  #calculate absolute differences between dx, cx, dc
  abs_dx = np.absolute(d_values - x_values)
  abs_cx = np.absolute(c_values - x_values)
  abs_dc = np.absolute(d_values - c_values)

  #table of absolute value differences
  absolute_vals = pd.DataFrame([abs_dx, abs_cx, abs_dc], index = [1, 2, 3]) #1 = abs dx, 2 = abs cx, 3 = abs dc
  absolute_vals = absolute_vals.T

  #calculate which difference is the smallest between three, get column ID for each row
  minvalue_series = absolute_vals.idxmin(axis = 1)
  bids["mincol"] = minvalue_series #add column index of min value to table with bids

  bids_1 = bids[bids["mincol"] == 1].assign(outcome = (bids["d"]+bids["x"])/2)
  bids_2 = bids[bids["mincol"] == 2].assign(outcome = (bids["c"]+bids["x"])/2)
  bids_3 = bids[bids["mincol"] == 3].assign(outcome = (bids["d"]+bids["c"])/2)

  bids_1.dropna(how = "any", inplace = True)
  bids_2.dropna(how = "any", inplace = True)
  bids_3.dropna(how = "any", inplace = True)

In [5]:
bids = pd.DataFrame([d_values, c_values, x_values], index = ["d", "c", "x"])
bids = bids.T
bids

      d     c     x
0  27.1  42.5  29.4
1  27.5  42.5  29.5
2  26.0  42.5  32.7
3  25.9  42.5  37.3
4  27.1  42.5  33.3
5  27.2  42.5  40.0
6  26.5  42.5  26.6
7  25.8  42.5  32.9
8  27.2  42.5  35.2
9  26.5  42.5  41.8

In [6]:
#calculate absolute differences between dx, cx, dc
abs_dx = np.absolute(d_values - x_values)
abs_cx = np.absolute(c_values - x_values)
abs_dc = np.absolute(d_values - c_values)

In [7]:
absolute_vals = pd.DataFrame([abs_dx, abs_cx, abs_dc], index = [1, 2, 3]) #1 = abs dx, 2 = abs cx, 3 = abs dc
absolute_vals = absolute_vals.T
absolute_vals

      1     2     3
0   2.3  13.1  15.4
1   2.0  13.0  15.0
2   6.7   9.8  16.5
3  11.4   5.2  16.6
4   6.2   9.2  15.4
5  12.8   2.5  15.3
6   0.1  15.9  16.0
7   7.1   9.6  16.7
8   8.0   7.3  15.3
9  15.3   0.7  16.0

In [8]:
#calculate which difference is the smallest between three, get column ID for each row
minvalue_series = absolute_vals.idxmin(axis = 1)
bids["mincol"] = minvalue_series #add column index of min value to table with bids
bids

      d     c     x  mincol
0  27.1  42.5  29.4       1
1  27.5  42.5  29.5       1
2  26.0  42.5  32.7       1
3  25.9  42.5  37.3       2
4  27.1  42.5  33.3       1
5  27.2  42.5  40.0       2
6  26.5  42.5  26.6       1
7  25.8  42.5  32.9       1
8  27.2  42.5  35.2       2
9  26.5  42.5  41.8       2

In [23]:
bids_1 = bids[bids["mincol"] == 1].assign(outcome = (bids["d"]+bids["x"])/2)
bids_2 = bids[bids["mincol"] == 2].assign(outcome = (bids["c"]+bids["x"])/2)
bids_3 = bids[bids["mincol"] == 3].assign(outcome = (bids["d"]+bids["c"])/2)

bids_1.dropna(how = "any", inplace = True)
bids_2.dropna(how = "any", inplace = True)
bids_3.dropna(how = "any", inplace = True)

In [30]:
outcome = pd.concat([bids_1, bids_2, bids_3], axis=0)
outcome["floor"] = 27.5
outcome["final"] = outcome[["outcome", "floor"]].max(axis=1)
outcome

      d     c     x  mincol  outcome  floor  final
0  27.1  42.5  29.4     1.0    28.25   27.5  28.25
1  27.5  42.5  29.5     1.0    28.50   27.5  28.50
2  26.0  42.5  32.7     1.0    29.35   27.5  29.35
4  27.1  42.5  33.3     1.0    30.20   27.5  30.20
6  26.5  42.5  26.6     1.0    26.55   27.5  27.50
7  25.8  42.5  32.9     1.0    29.35   27.5  29.35
3  25.9  42.5  37.3     2.0    39.90   27.5  39.90
5  27.2  42.5  40.0     2.0    41.25   27.5  41.25
8  27.2  42.5  35.2     2.0    38.85   27.5  38.85
9  26.5  42.5  41.8     2.0    42.15   27.5  42.15

In [37]:
analysis = outcome["final"].describe()
analysis
#OUTPUT: analysis[4], analysis[6]-analysis[4], analysis[6], analysis[2], analysis[5]

count    10.000000
mean     33.530000
std       6.131485
min      27.500000
25%      28.712500
50%      29.775000
75%      39.637500
max      42.150000
Name: final, dtype: float64

In [35]:
analysis[4], analysis[6]-analysis[4], analysis[6], analysis[2], analysis[5]

(28.7125, 10.925000000000004, 39.6375, 6.131485228809664, 29.775)